.subscribe {
    color: #fff;
    text-align: center;
    padding: 130px 0;
}
.subscribe h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    width: 676px;
    margin: 0 auto 30px;
    font-family: 'Barlow', sans-serif;
}
.subscribe h2 img {
    margin-right: 30px;
}
.subscribe .input-group {
    width: 502px;
    margin: 0 auto;
    border-bottom: 1px solid #03ffa5;
}
.subscribe .input-group input {
    color: #fff;
    background-color: #000;
    border: none;
}
.subscribe .input-group .btn {
    color: #03ffa5;
    font-weight: bold;
    border: none;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
}
.subscribe .input-group .btn:hover {
    background-color: #000;
    text-decoration: underline;
}
